# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# folders
/data/
/MoBI_BoundaryData.gdb/
/old_attempt/


# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
.Rproj.user/21E0A21A/sources/prop/A09FC223
*.png
*.accdb
MoBI_EO_Export_Hab_Data_07272018.laccdb
MoBI_EO_export_from_WL_072018.csv
JulyMoBI_list.csv
*.Rproj
.Rproj.user
